.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example

# Ignore lock files for PNPM, NPM and Yarn
pnpm-lock.yaml
package-lock.json
yarn.lock

# Ignore log files for PNPM, NPM and Yarn
.pnpm-debug.log
npm-debug.log
yarn-error.log
